APP_ENV=development

API_BASE_URL=http://localhost:7047

ENTRA_TENANT_ID=
ENTRA_MOBILE_CLIENT_ID=
ENTRA_API_CLIENT_ID=
ENTRA_API_SCOPE=
ENTRA_REDIRECT_URI=

SHAREPOINT_HOSTNAME=
SHAREPOINT_SITE_PATH=

FIREBASE_PROJECT_ID=

AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_LOCATION=

APPLICATIONINSIGHTS_CONNECTION_STRING=